#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.themeBar{
  /* height: 110px; */
  display: flex;
  align-items: space-around;
}
.singleTheme{
  display: flex;
  flex-direction: column;
  padding:10px;
  width: 200px
}